<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card ">
        <div class="card-header">Tasks in Storage</div>
        <div class="storage">
          <div *ngFor='let task of task$ | async; let i=index'>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="taskListItem" [ngClass]="task.completed !== true ? 'incomplete':'complete'">{{task.description}}</span>
                <span class="float-right">
                  <button class='btn btn-primary' (click)='edit(task)'>
                    <i class='fa fa-edit'></i>
                  </button>
                  <button class='btn btn-danger' (click)='deleteTask(task)'>
                    <i class='fa fa-trash-alt'></i>
                  </button>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card addItemCard">
        <div class="card-header">Add a New Task</div>
        <div class="card-body">
          <form>
            <div class='form-group'>
              <input name='myTask' id="myTask" #box type='text' class='form-control' placeholder='Enter a task' required>

            </div>
            <div class='form-group'>
              <button class='btn btn-primary' (click)='saveTask(box.value)'>
                Save Task
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

