<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-4">

      <div *ngIf="items$ | async; let items; else loading">
        <div class="card">
          <div class="card-header">Items in Storage</div>



          <div *ngFor='let item of items'>


            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {{item.text}}
              </li>
            </ul>

            <div *ngIf="items.length === 0">
              <li class="list-item list-group-item">
                No results, try clearing filters
              </li>
            </div>
          </div>
          <ng-template #loading>Loading&hellip;</ng-template>
        </div>
      </div>

    </div>

    <div class="col-sm-12 col-md-8">
      <div class="card addItemCard">
        <div class="card-header">Add a New Item</div>
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="col-xs-12 col-md-5">
                <input type="text" class="form-control" id="desc" placeholder="Item Description">
              </div>
              <div class="col jcol-xs-12">
                <input type="text" class="form-control" id="col" placeholder="Item Color">
              </div>
              <div class="col col-xs-12">
                <input type="text" class="form-control" id='size' placeholder="Item Size">
              </div>
              <div class="col col-xs-12">
                <button class="btn btn-primary" type="submit" (click)="this.addListItem()">Add Item!</button>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="filters">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="card">
              <div class="card-header">Filter by size
                <span class="badge badge-dark" (click)="filterBySize(null)" *ngIf="this.sizeFilter$.getValue()">
                  <em>clear filter</em>
                </span>
              </div>
              <div class="card-body">
                <div *ngIf="items$ | async; let items; else loading">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                      </div>
                      <select class="custom-select" (change)='this.submitFilterBySize()' id="selectedSize">
                        <option selected>Choose...</option>
                        <option *ngFor="let item of items" value="{{item.size}}">{{item.size}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="card">
              <div class="card-header">Filter by color
                <span class="badge badge-dark" (click)="filterByColor(null)" *ngIf="this.colorFilter$.getValue()">
                  <em>clear filter</em>
                </span>
              </div>
              <div class="card-body">
                <div *ngIf="items$ | async; let items; else loading">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                      </div>
                      <select class="custom-select" (change)="this.submitFilterByColor()" id="selectedColor">
                        <option selected>Choose...</option>
                        <option *ngFor="let item of items" value="{{item.color}}">{{item.color}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>