<div class="container">
  <div class="list">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">Items in Storage</div>
          <div *ngIf="items$ | async; let items; else loading">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let item of items">
                {{ item.text }}
              </li>
            </ul>
            <div *ngIf="items.length === 0">
              <li class="list-item list-group-item">
                No results, try clearing filters
              </li>
            </div>
          </div>
          <ng-template #loading>Loading&hellip;</ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="filters">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header">Filter by size
            <span class="badge badge-dark" (click)="filterBySize(null)" *ngIf="this.sizeFilter$.getValue()">
              <em>clear filter</em>
            </span>
          </div>
          <div class="card-body">
            <div *ngIf="items$ | async; let items; else loading">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                  </div>
                  <select class="custom-select" id="selectedSize">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of items" value="{{item.size}}">{{item.size}}</option>
                  </select>
                  <button class="btn btn-primary" type="submit" (click)="this.submitFilterBySize()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header">Filter by color
            <span class="badge badge-dark" (click)="filterByColor(null)" *ngIf="this.colorFilter$.getValue()">
              <em>clear filter</em>
            </span>
          </div>
          <div class="card-body">
            <div *ngIf="items$ | async; let items; else loading">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                  </div>
                  <select class="custom-select" id="selectedColor">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of items" value="{{item.color}}">{{item.color}}</option>
                  </select>
                  <button class="btn btn-primary" type="submit" (click)="this.submitFilterByColor()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>