.filters, .list {
  margin: 20px 0px 20px 0px;
}

.card {
  border-radius: 0px !important;
}

.custom-select {
  margin-right: 20px !important;
}

.badge {
  cursor: pointer !important;
}

.badge:hover {
  background-color: red !important;
}

#submitButton {
  margin-top: 20px;
}




@media screen and ( max-width: 767px ) {
  .addItemCard {
    margin-top: 20px;
  }
  .form-control {
    margin-top: 10px !important;
  }

  .addItemCard .btn {
    margin-top: 10px !important;
  }

}