.morning {
  background-image: url('../../assets/images/sunrise.jpg');
  background-size: cover;
}

.noon {
  background-image: url('../../assets/images/afternoon.jpg');
  background-size: cover;
}

.evening {
  background-image: url('../../assets/images/evening.jpg');
  background-size: cover;
}

.night {
  background-image: url('../../assets/images/night.jpg');
  background-size: cover;
}

